﻿$dark:#333;
$light:#fff;

:root{
    font-size:4vmin;
    font-family:'Roboto',sans-serif;
    width:100%;
    height:100%;
}

body {
    margin:0;
    /*display:flex;*/
    background-color:white;
    color:black;

}
#btnchangetheme{
    font:inherit;
    padding:0.1em 0.25em;
    border:0;
    outline:0;
    background-color:black;
    color:white;
    cursor:pointer;

    &:hover{
               text-decoration:underline;
           }
           .dark-theme &{
                background-color:white;
    color:black;

           }
}
.dark-theme{
                    background-color:black;
                    color:white;

                }
