﻿.cls{
        text-align: left;
}

.posts
    {
    background-color: white;
    box-shadow: rgba(0,0,0,.117647) 0 1px 6px, rgba(0,0,0,.117647) 0 1px 4px;
}
.pointstyle{
    cursor:pointer;
}
        .labelfont{
            font-size:smaller;
            font-weight:600;
        }
        .labelfont::after{
             content:"• ";
        }
        .labelfont1{
            font-size:smaller;
            font-weight:600;
        }
        .word { word-wrap: break-word; }

        .txtclass{
            height:0px;
            width:100%;
                flex-grow: 1;
    /* border: none; */
    min-height: 41px;
    outline: 0;
    max-height: 600px;
    padding: 10.5px 10px;
    resize: none;
    margin-left:0px;
        }
        .margin{
            margin-left: 3%;
        }
        .profile{
            margin-left:0px;
            border-radius:30px;
        }
        
        .reply{
            margin-left:85px;
            font-size:smaller;
            height:30px;
            width:713px;
            max-width: 80ch;
            word-wrap: break-word;
        }
        .options{
                /*background-color: #bff0df;
     margin-left:176px;
    border-style: none;*/
                width: 90%;
    float: left;
    margin: 0 0 0 0;
    margin: 0 0px 9px 0px;
    /*text-align: -webkit-left;*/
    background-color: #f1efef;
    height: 40px;
    border-style:none;
        }
        .divs{
                background-color: #f1efef;
                margin-left:-7%;
        }
        .margtop{
            margin-top:13px;
        }
        .margbot{
            margin-bottom: 14px;
    margin-top: 14px;
        }
        .opt{
                  margin-right: 10px;
    width: 36px;
    height: 37px;
    flex-shrink: 0;
    border: 1px solid #b3b3b3;
    border-radius: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    float: left;
    margin-top: 5px;
      }  

        .childcom{
            margin-left:160px;
            max-width: 80ch;
                         word-wrap: break-word;
        }
        .time{
               
    font-size: smaller;
    font-weight: 600;
    margin-left: 59px;
  
    
        }
        
        .replybtn{
          
  background:none!important;
     color:inherit;
     border:none; 
     padding:0!important;
     font: inherit;
     /*border is optional*/
     border-bottom:1px solid #444; 
     cursor: pointer;
         margin-left: 160px;
    font-size: smaller;
}
       .btnPage{
           background-color:darkblue;
           color:white;
       }

       .link {
            text-decoration:none;
            color:#808080;
        }
            .link:hover {
                color:#dddddd;
            }

             .btn{
    background: none;
    border: none;
    color:rgb(54, 54, 56);
    text-decoration: underline;
    cursor: pointer;
    width:785px;
    }
             .qs{
                     max-width: 63ch;
                         word-wrap: break-word;
                         margin-left: 2.8%;
                         font-weight:600;
             }

             .wraps{
                     word-wrap: break-word;
                     color:black;
margin-left: 14px
             }

             .commen{
                  max-width: 80ch;
                         word-wrap: break-word;
                         font-weight:600;
                         margin-left: 4%;
             }
             .marg{
                 margin-left:-10px;
             }

             .margleft{
                 margin-left:30px;
             }