﻿  .fb_hidden {
            position: absolute;
            top: -10000px;
            z-index: 10001;
        }

        .fb_reposition {
            overflow: hidden;
            position: relative;
        }

        .fb_invisible {
        }

        .fb_reset {
            background: none;
            border: 0;
            border-spacing: 0;
            color: #000;
            cursor: auto;
            direction: ltr;
            font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
            font-size: 11px;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            letter-spacing: normal;
            line-height: 1;
            margin: 0;
            overflow: visible;
            padding: 0;
            text-align: left;
            text-decoration: none;
            text-indent: 0;
            text-shadow: none;
            text-transform: none;
            visibility: visible;
            white-space: normal;
            word-spacing: normal;
        }

            .fb_reset > div {
                overflow: hidden;
            }

        .fb_link img {
            border: none;
        }

        @keyframes fb_transform {
            from {
                opacity: 0;
                transform: scale(.95);
            }

            to {
                opacity: 1;
                transform: scale(1);
            }
        }

        .fb_animate {
            animation: fb_transform .3s forwards;
        }

        .fb_dialog {
            background: rgba(82, 82, 82, .7);
            position: absolute;
            top: -10000px;
            z-index: 10001;
        }

        .fb_reset .fb_dialog_legacy {
            overflow: visible;
        }

        .fb_dialog_advanced {
            padding: 10px;
            -moz-border-radius: 8px;
            -webkit-border-radius: 8px;
            border-radius: 8px;
        }

        .fb_dialog_content {
            background: #fff;
            color: #333;
        }

        .fb_dialog_close_icon {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;
            cursor: pointer;
            display: block;
            height: 15px;
            position: absolute;
            right: 18px;
            top: 17px;
            width: 15px;
        }

        .fb_dialog_mobile .fb_dialog_close_icon {
            top: 5px;
            left: 5px;
            right: auto;
        }

        .fb_dialog_padding {
            background-color: transparent;
            position: absolute;
            width: 1px;
            z-index: -1;
        }

        .fb_dialog_close_icon:hover {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent;
        }

        .fb_dialog_close_icon:active {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent;
        }

        .fb_dialog_loader {
            background-color: #f6f7f9;
            border: 1px solid #606060;
            font-size: 24px;
            padding: 20px;
        }

        .fb_dialog_top_left, .fb_dialog_top_right, .fb_dialog_bottom_left, .fb_dialog_bottom_right {
            height: 10px;
            width: 10px;
            overflow: hidden;
            position: absolute;
        }

        .fb_dialog_top_left {
            background: url(8YeTNIlTZjm.png) no-repeat 0 0;
            left: -10px;
            top: -10px;
        }

        .fb_dialog_top_right {
            background: url(8YeTNIlTZjm.png) no-repeat 0 -10px;
            right: -10px;
            top: -10px;
        }

        .fb_dialog_bottom_left {
            background: url(8YeTNIlTZjm.png) no-repeat 0 -20px;
            bottom: -10px;
            left: -10px;
        }

        .fb_dialog_bottom_right {
            background: url(8YeTNIlTZjm.png) no-repeat 0 -30px;
            right: -10px;
            bottom: -10px;
        }

        .fb_dialog_vert_left, .fb_dialog_vert_right, .fb_dialog_horiz_top, .fb_dialog_horiz_bottom {
            position: absolute;
            background: #525252;
            filter: alpha(opacity=70);
            opacity: .7;
        }

        .fb_dialog_vert_left, .fb_dialog_vert_right {
            width: 10px;
            height: 100%;
        }

        .fb_dialog_vert_left {
            margin-left: -10px;
        }

        .fb_dialog_vert_right {
            right: 0;
            margin-right: -10px;
        }

        .fb_dialog_horiz_top, .fb_dialog_horiz_bottom {
            width: 100%;
            height: 10px;
        }

        .fb_dialog_horiz_top {
            margin-top: -10px;
        }

        .fb_dialog_horiz_bottom {
            bottom: 0;
            margin-bottom: -10px;
        }

        .fb_dialog_iframe {
            line-height: 0;
        }

        .fb_dialog_content .dialog_title {
            background: #6d84b4;
            border: 1px solid #365899;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            margin: 0;
        }

            .fb_dialog_content .dialog_title > span {
                background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;
                float: left;
                padding: 5px 0 7px 26px;
            }

        body.fb_hidden {
            -webkit-transform: none;
            height: 100%;
            margin: 0;
            overflow: visible;
            position: absolute;
            top: -10000px;
            left: 0;
            width: 100%;
        }

        .fb_dialog.fb_dialog_mobile.loading {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;
            min-height: 100%;
            min-width: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            z-index: 10001;
        }

            .fb_dialog.fb_dialog_mobile.loading.centered {
                width: auto;
                height: auto;
                min-height: initial;
                min-width: initial;
                background: none;
            }

                .fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner {
                    width: 100%;
                }

                .fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content {
                    background: none;
                }

        .loading.centered #fb_dialog_loader_close {
            color: #fff;
            display: block;
            padding-top: 20px;
            clear: both;
            font-size: 18px;
        }

        #fb-root #fb_dialog_ipad_overlay {
            background: rgba(0, 0, 0, .45);
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            width: 100%;
            min-height: 100%;
            z-index: 10000;
        }

            #fb-root #fb_dialog_ipad_overlay.hidden {
            }

        .fb_dialog.fb_dialog_mobile.loading iframe {
        }

        .fb_dialog_content .dialog_header {
            -webkit-box-shadow: white 0 1px 1px -1px inset;
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));
            border-bottom: 1px solid;
            border-color: #1d4088;
            color: #fff;
            font: 14px Helvetica, sans-serif;
            font-weight: bold;
            text-overflow: ellipsis;
            text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
            vertical-align: middle;
            white-space: nowrap;
        }

            .fb_dialog_content .dialog_header table {
                -webkit-font-smoothing: subpixel-antialiased;
                height: 43px;
                width: 100%;
            }

            .fb_dialog_content .dialog_header td.header_left {
                font-size: 12px;
                padding-left: 5px;
                vertical-align: middle;
                width: 60px;
            }

            .fb_dialog_content .dialog_header td.header_right {
                font-size: 12px;
                padding-right: 5px;
                vertical-align: middle;
                width: 60px;
            }

        .fb_dialog_content .touchable_button {
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));
            border: 1px solid #29487d;
            -webkit-background-clip: padding-box;
            -webkit-border-radius: 3px;
            -webkit-box-shadow: rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;
            display: inline-block;
            margin-top: 3px;
            max-width: 85px;
            line-height: 18px;
            padding: 4px 12px;
            position: relative;
        }

        .fb_dialog_content .dialog_header .touchable_button input {
            border: none;
            background: none;
            color: #fff;
            font: 12px Helvetica, sans-serif;
            font-weight: bold;
            margin: 2px -12px;
            padding: 2px 6px 3px 6px;
            text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
        }

        .fb_dialog_content .dialog_header .header_center {
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            line-height: 18px;
            text-align: center;
            vertical-align: middle;
        }

        .fb_dialog_content .dialog_content {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;
            border: 1px solid #555;
            border-bottom: 0;
            border-top: 0;
            height: 150px;
        }

        .fb_dialog_content .dialog_footer {
            background: #f6f7f9;
            border: 1px solid #555;
            border-top-color: #ccc;
            height: 40px;
        }

        #fb_dialog_loader_close {
            float: left;
        }

        .fb_dialog.fb_dialog_mobile .fb_dialog_close_button {
            text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
        }

        .fb_dialog.fb_dialog_mobile .fb_dialog_close_icon {
        }

        #fb_dialog_loader_spinner {
            animation: rotateSpinner 1.2s linear infinite;
            background-color: transparent;
            background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            height: 24px;
            width: 24px;
        }

        @keyframes rotateSpinner {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .fb_iframe_widget {
            display: inline-block;
            position: relative;
        }

            .fb_iframe_widget span {
                display: inline-block;
                position: relative;
                text-align: justify;
            }

            .fb_iframe_widget iframe {
                position: absolute;
            }

        .fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe {
            max-width: 100%;
        }

            .fb_iframe_widget_fluid_desktop iframe {
                min-width: 220px;
                position: relative;
            }

        .fb_iframe_widget_lift {
            z-index: 1;
        }

        .fb_hide_iframes iframe {
            position: relative;
            left: -10000px;
        }

        .fb_iframe_widget_loader {
            position: relative;
            display: inline-block;
        }

        .fb_iframe_widget_fluid {
            display: inline;
        }

            .fb_iframe_widget_fluid span {
                width: 100%;
            }

        .fb_iframe_widget_loader iframe {
            min-height: 32px;
            z-index: 2;
            zoom: 1;
        }

        .fb_iframe_widget_loader .FB_Loader {
            background: url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat;
            height: 32px;
            width: 32px;
            margin-left: -16px;
            position: absolute;
            left: 50%;
            z-index: 4;
        }

        .fb_invisible_flow {
            display: inherit;
            height: 0;
            overflow-x: hidden;
            width: 0;
        }

        .fb_mobile_overlay_active {
            height: 100%;
            overflow: hidden;
            position: fixed;
            width: 100%;
        }

        .fb_shrink_active {
            opacity: 1;
            transform: scale(1, 1);
            transition-duration: 200ms;
            transition-timing-function: ease-out;
        }

            .fb_shrink_active:active {
                opacity: .5;
                transform: scale(.75, .75);
            }



              .padding-10 {
                    padding: 10px;
                }

                .padding-5 {
                    padding: 5px;
                }

                .width-100 {
                    width: 100%;
                }

                .margin-0 {
                    margin: 0;
                }

                .block {
                    display: block;
                }

                .padding-t-10 {
                    padding-top: 10px;
                }

                .padding-t-15 {
                    padding-top: 15px;
                }

                .padding-t-20 {
                    padding-top: 20px;
                }

                .padding-l-20 {
                    padding-left: 20px;
                }

                .padding-r-20 {
                    padding-right: 20px;
                }

                .padding-b-15 {
                    padding-bottom: 15px;
                }

                .padding-b-20 {
                    padding-bottom: 20px;
                }

                .margin-t-14 {
                    margin-top: 14px;
                }

                .margin-t-10 {
                    margin-top: 10px;
                }

                .margin-b-15 {
                    margin-bottom: 15px;
                }

                .margin-b-10 {
                    margin-bottom: 10px;
                }

                .margin-b-5 {
                    margin-bottom: 5px;
                }

                .text-center {
                    text-align: center;
                }

                .img-40 {
                    width: 40px;
                    height: 40px;
                }

                .weight-500 {
                    font-weight: 500;
                }

                .padding-b-0 {
                    padding-bottom: 0;
                }

                .padding-b-5 {
                    padding-bottom: 5px;
                }

                .padding-t-5 {
                    padding-top: 5px;
                }

                .padding-l-10 {
                    padding-left: 10px;
                }

                .padding-r-10 {
                    padding-right: 10px;
                }

                .text-uppercase {
                    text-transform: uppercase;
                }

                .very-light-grey-bg {
                    background: #f1f1f1;
                }

                .blickColor {
                    -webkit-animation: colorchange 0.5s infinite;
                }

                @-webkit-keyframes colorchange {
                    0% {
                        color: #F47321;
                    }

                    50% {
                        color: #000;
                    }

                    100% {
                        color: #F47321;
                    }
                }

                .package__widget {
                    padding: 20px;
                    text-align: center;
                    display: block;
                }

                .package__open-btn {
                    display: block;
                    color: #45b97c;
                    text-transform: uppercase;
                    padding: 8px 5px;
                    border: 1px solid #45b97c;
                    margin-top: 20px;
                }

                .package__image {
                    width: 130px;
                    height: 130px;
                    margin: 10px auto;
                }

                .static-widget-container {
                    overflow: hidden;
                }

                    .static-widget-container > *,
                    .sticky-widget-container .sticky-container > * {
                        margin-bottom: 14px;
                    }

                        .static-widget-container > *:last-child {
                            margin-bottom: 0;
                        }

                .quick-links__container {
                    padding: 10px 20px;
                }

                .quick-links__title {
                    margin: 0 0 10px 0;
                }

                .quick-links__link {
                    align-items: center;
                    margin: 0 0 10px 0;
                }

                .quick-links__link-img {
                    margin-right: 15px;
                }

                .padding-15 {
                    padding: 15px;
                }

                .inBtwBanner {
                    padding: 15px;
                    align-items: center;
                    margin-top: 14px;
                }

                .inBtwBanner__img {
                    max-width: 50px;
                    max-height: 50px;
                    margin-right: 15px;
                }

                .inBtwBanner__link {
                    margin: 0;
                    padding: 8px 16px;
                    color: #fff;
                    font-size: 14px;
                    flex-shrink: 0;
                }

                    .inBtwBanner__link:hover,
                    .inBtwBanner__link:focus {
                        color: #fff;
                    }

                .inBtwBanner__text {
                    padding-right: 10px;
                }

                .inBtwBanner--4 {
                    text-align: center;
                }

                    .inBtwBanner--4 .inBtwBanner__text {
                        padding: 0;
                        margin: 0;
                    }

                    .inBtwBanner--4 .inBtwBanner__secondary-text {
                        margin: 10px auto 10px;
                    }

                .banner-install-btn {
                    padding: 3px 13px;
                    border-radius: 4px;
                    margin-left: 18px;
                }

                a.banner-install-btn:hover,
                a.banner-install-btn:focus {
                    color: #FFF;
                }

                .banner-rating-img {
                    height: 18px;
                    margin-top: -4px;
                }

                -app__widget {
                    max-width: 300px;
                    padding: 10px;
                }

                -app__text {
                    margin: 0 0 7px 0;
                    display: block;
                    text-align: center;
                    color: #333;
                }

                -app__input span {
                    flex-shrink: 0;
                    padding: 8px 9px;
                    font-size: 14px;
                    border: 1px solid #dadada;
                    border-right: 0;
                }

                -app__input input[type="tel"] {
                    box-shadow: none;
                    border-radius: 0 3px 3px 0;
                    height: 40px;
                    border: 1px solid #dadada;
                    border-left: 0;
                    padding-left: 8px;
                    border-radius: 0;
                }

                -app__form input[type="submit"] {
                    width: 100px;
                    text-transform: uppercase;
                    color: #fff;
                    background-color: #45b97c;
                    cursor: pointer;
                    flex-shrink: 0;
                    margin-left: 5px;
                }

                -app__divider {
                    height: 1px;
                    border-top: 1px solid #dadada;
                    position: relative;
                    margin: 0 0 15px 0;
                }

                    -app__divider:after {
                        content: 'OR';
                        color: #666;
                        position: absolute;
                        top: -8px;
                        font-size: 13px;
                        background: #fff;
                        left: 44.2%;
                        padding: 0 2px;
                        line-height: 1;
                    }

                -app__link {
                    display: block;
                    margin: 0 0 15px 0;
                }

                -app__container {
                    display: flex;
                    margin: 0 0 10px 0;
                    align-items: center;
                }

                    -app__container -app__logo {
                        margin: 0 5px 0 0;
                        width: 40px;
                        height: 40px;
                    }

                    -app__container -app__text {
                        margin: 0;
                    }

                -app__play-store,
                -app__logo {
                    max-width: 120px;
                    display: block;
                    margin: auto;
                }

                -app__logo {
                    max-width: 115px;
                    margin: 0 auto 7px;
                }

                .createPostWidget {
                    padding: 20px;
                }

                .createPostWidget__text {
                    margin: 0 0 10px 0;
                }

                .createPostWidget__text {
                    margin: 0 0 10px 0;
                }

                .createPostWidget__btn {
                    display: block;
                    margin: 0;
                    background-color: #45b97c;
                    color: #fff !important;
                    padding: 10px;
                    text-align: center;
                    text-transform: uppercase;
                }

                .greenGradient {
                    background: linear-gradient(rgb(96, 195, 144) 0%, rgb(70, 188, 152) 50%, rgb(33, 178, 170) 100%);
                }

                .adx__below-header {
                    justify-content: center;
                    margin-top: 14px;
                }

                .line-height-1 {
                    line-height: 1;
                }

                .line-height-0-5 {
                    line-height: 0.5;
                }

                .fixed-bottom {
                    position: fixed;
                    left: 0;
                    bottom: 0;
                }

                use.light-grey-stroke {
                    stroke: #d7d7d7;
                }

                use.stroke-width-3 {
                    stroke-width: 3px;
                }

                .zindex-3 {
                    z-index: 3;
                }

                .padding-l-5 {
                    padding-left: 5px;
                }

                .padding-t-7 {
                    padding-top: 7px;
                }

                .padding-r-5 {
                    padding-right: 5px;
                }

                .padding-b-10 {
                    padding-bottom: 10px;
                }

                .margin-r-10 {
                    margin-right: 10px !important;
                }

                .margin-r-5 {
                    margin-right: 5px !important;
                }

                .margin-r-20 {
                    margin-right: 20px;
                }

                .app-install-swiper-pagination .swiper-pagination-bullet {
                    width: 5px;
                    height: 5px;
                }

                a.safed-link,
                a.safed-link:focus,
                a.safed-link:hover {
                    color: #fff;
                }

                .height-8 {
                    height: 8px;
                }

                .margin-l-5 {
                    margin-left: 5px;
                }

                .width-50 {
                    width: 50px;
                }

                .s-12 {
                    font-size: 12px;
                }

                .s-11 {
                    font-size: 11px;
                }

                .padding-l-15 {
                    padding-left: 15px;
                }

                .padding-r-15 {
                    padding-right: 15px;
                }
            </style>

            <div>
                <script type="text/javascript">var googletag = googletag || {}; googletag.cmd = googletag.cmd || [];</script>

                <script src="onlinetest/gpt.js" async="null"></script>



                <style>
                    .banner-container {
                        max-width: 1100px;
                        margin: auto;
                        padding: 0;
                        flex-shrink: 0;
                    }

                    .subHeader {
                        margin-top: -2px;
                        background-color: #45b97c;
                    }

                    .subHeaderClass {
                        min-height: 125px;
                        margin-top: -2px;
                        padding: 0;
                    }

                        .subHeaderClass > a {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            min-height: 125px;
                            text-decoration: none;
                            padding: 15px 5px;
                        }

                            .subHeaderClass > a img {
                                margin-right: 25px;
                            }

                        .subHeaderClass .content-block {
                            flex-grow: 1;
                            margin-top: -10px;
                        }

                            .subHeaderClass .content-block h1, .subHeaderClass .content-block p {
                                margin: 0;
                                color: #fff;
                                font-family: 'Montserrat',sans-serif;
                                text-transform: none;
                            }

                            .subHeaderClass .content-block p {
                                font-size: 16px;
                                text-transform: capitalize;
                            }

                        .subHeaderClass .buy-btn {
                            background: #fff;
                            padding: 14px 10px;
                            color: #45b97c;
                            text-align: center;
                            text-transform: uppercase;
                            font-size: 16px;
                            max-width: 130px;
                            width: 130px;
                            margin-left: 10px;
                            flex-shrink: 0;
                        }

                        .subHeaderClass .content-block h1 {
                            font-size: 25px;
                            line-height: 1.3;
                            margin-bottom: 10px;
                        }

                    .flex-box {
                        display: -webkit-box;
                        display: flex;
                    }

                    .flex-row {
                        -webkit-box-orient: horizontal;
                        -webkit-box-direction: normal;
                        flex-direction: row;
                    }

                    .flex-column {
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                        flex-direction: column;
                    }

                    .inBtwBanner {
                        padding: 15px;
                        align-items: center;
                        margin-bottom: 10px;
                    }

                        .inBtwBanner img {
                            max-width: 100%;
                            display: block;
                        }

                    .inBtwBanner__img {
                        max-width: 50px;
                        max-height: 50px;
                        margin-right: 15px;
                    }

                    .inBtwBanner__link {
                        margin: 0;
                        padding: 8px 16px;
                        color: #fff;
                        font-size: 14px;
                        flex-shrink: 0;
                    }

                        .inBtwBanner__link:hover,
                        .inBtwBanner__link:focus {
                            color: #fff;
                        }

                    .inBtwBanner__text {
                        padding-right: 10px;
                    }

                    .inBtwBanner--4 {
                        text-align: center;
                    }

                        .inBtwBanner--4 .inBtwBanner__text {
                            padding: 0;
                            margin: 0;
                        }

                        .inBtwBanner--4 .inBtwBanner__secondary-text {
                            margin: 0 0 10px 0;
                        }

                    @media(max-width:768px) {
                        .subHeaderClass > a {
                            flex-wrap: wrap;
                            justify-content: center;
                            padding: 15px;
                        }

                            .subHeaderClass > a > * {
                                flex-basis: 100%;
                            }

                            .subHeaderClass > a img {
                                max-width: 200px;
                                margin-right: 0;
                            }

                        .subHeaderClass .content-block {
                            text-align: center;
                            margin: 10px 0;
                        }

                        .subHeaderClass .buy-btn {
                            padding: 11px;
                            font-size: 14px;
                        }
                    }
                </style>



                <style>
                    .package-card {
                        position: relative;
                        overflow: hidden;
                    }

                    .strip-tag {
                        text-transform: uppercase;
                        margin: 0;
                        background: #fff;
                        color: #45b97c;
                        padding: 1px 0;
                        position: absolute;
                        width: 75px;
                        top: 14px;
                        left: 0px;
                        text-align: center;
                        font-size: 12px;
                        font-weight: 500;
                    }

                        .strip-tag:after {
                            content: "";
                            position: absolute;
                            right: -12px;
                            top: 0;
                            display: block;
                            border: 10.5px solid #fff;
                            border-right-color: transparent;
                        }