﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master2.master" AutoEventWireup="true" CodeFile="Bankonlinetiles.aspx.cs" Inherits="Bankonlinetiles" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
      <div class="container-fluid">
         <div class="row">
             <div class="col-md-12" style="text-align:center">
                <h2>SSC TEST SERIES</h2> 
             </div>
         </div>
         <br />
         <div class="row">
             <div class="col-md-3">
                 <asp:Repeater ID="rpttiles" runat="server">
                     <ItemTemplate>
                         <div class="row">
            <div class="col-sm-12">
                <a href="Banktestseries.aspx?set=<%#Eval("set")%>"  style="text-decoration: none !important;">
                    <div style="width:200px;height:100px;background-color:greenyellow;text-align:center"><br /><br />
                        <%#Eval("set")%>
                    </div>
                </a>
            </div></div><br />
                     </ItemTemplate>
                 </asp:Repeater>
             </div>
         </div><br />
      
 </div>
</asp:Content>

