﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>
<%@ Register Assembly="CKEditor.NET" Namespace="CKEditor.NET" TagPrefix="CKEditor" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
	<title>Testing</title>
	<style type="text/css">
		.body
		{
			background-color: #1BA8E0;
		}
		.left
		{
			position: absolute;
			left: 10px;
			border: Groove 1px #ccc;
			width: 320px;
		}
		.right
		{
			position: absolute;
			left: 330px;
			border: none 1px #c00;
			width: 73%;
		}
		.up
		{
			top: 20px;
		}
        .adminRichText
        {
            width:450px;
        }
	</style>
</head>
<body>
	<form id="form1" runat="server">
        <div>
    <CKEditor:CKEditorControl ID="CKEditor1" runat="server">
</CKEditor:CKEditorControl>
            </div>
        </form>
</body>
</html>