﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master2.master" AutoEventWireup="true" CodeFile="Jobdesc.aspx.cs" Inherits="Jobdesc" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="contact">
		<div class="container">
    <div class="w3layouts_mail_grid">
                <div class="row">
                    <div class="col-md-12" style="margin-top:30px;">
                        
                        <asp:Literal ID="literal1" runat="server"></asp:Literal>
                    </div>
                </div>
    </div>
            </div>
        </div>
</asp:Content>

