﻿#btnsection1{

      border:#A9D0F5 2px solid;
        background-color:#C7DCF0;
        display:block;
            WIDTH: 100%;
   
    font-size: 12px;
    color: black;
}
#btnsection4{

      border:#A9D0F5 2px solid;
        background-color:#C7DCF0;
        display:block;
            WIDTH: 100%;
   
    font-size: 12px;
    color: black;
}
#btnsection3{

      border:#A9D0F5 2px solid;
        background-color:#C7DCF0;
        display:block;
            WIDTH: 100%;
   
    font-size: 12px;
    color: black;
}
#btnsection2{

      border:#A9D0F5 2px solid;
        background-color:#C7DCF0;
        display:block;
            WIDTH: 100%;
   
    font-size: 12px;
    color: black;
}
