﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master2.master" AutoEventWireup="true" CodeFile="Onlinetest.aspx.cs" Inherits="Onlinetest" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
      <link href="css/popup.css" rel="stylesheet" />
    <style>
        .button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
    </style>

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="contact">
		<div class="container">
                                

          
                        <%--<div class="row">
                            <asp:Repeater ID="rptrsection" runat="server">
                                <ItemTemplate>
                            <div class="col-md-3">
                                <a href="Onlinetest.aspx?setNo=<%#Eval("section") %>"><%#Eval("section") %></a>
                            </div>
                                    </ItemTemplate>
                            </asp:Repeater>
                        </div>--%>
                                          <%-- <div class="row">
                                               <div class="col-md-12">
                                                   <asp:Label ID="lblattempt" runat="server" Visible="false" ForeColor="Red"></asp:Label>
                                               </div>
                                           </div>--%>
           <%-- <br />
            <div class="row">
                <asp:Repeater ID="rptaffair" runat="server" Visible="false">
                    <ItemTemplate>
                <div class="col-md-2">
                    <asp:Label ID="lbl1" runat="server" Visible="false" Text="You Attempted:" ForeColor="Red"></asp:Label>
                </div>
                <div class="col-md-10">
                    <asp:Label ID="lblscore" runat="server" Text='<%#Eval("count") %>' Visible="false" ForeColor="Red"></asp:Label>
                </div>
                <div class="col-md-3">
                    <asp:Label ID="lbl2" runat="server" Visible="false" Text="You Correctly answered:" ForeColor="Red"></asp:Label>
                </div>
                <div class="col-md-4">
                     <asp:Label ID="lblscoreanswer" runat="server" Text='<%#Eval("statuscount") %>' Visible="false" ForeColor="Red"></asp:Label>
                </div>
                        </ItemTemplate>
                    </asp:Repeater>
            </div>--%>
            <%--<div class="row">
                <div class="col-md-2"><asp:label id="lblselect" text="Please select:" runat="server"></asp:label></div>
                <div class="col-md-10">
                    <asp:Repeater ID="Repeater1" runat="server">
                            <ItemTemplate>
                                <a href="Onlinetest.aspx?setNo=<%#Eval("section") %>&index=<%#(((RepeaterItem)Container).ItemIndex+1).ToString()%>" class="button"><%#(((RepeaterItem)Container).ItemIndex+1).ToString()%></a>
                   <%-- <input type="button" class="btnsr" value='<%#(((RepeaterItem)Container).ItemIndex+1).ToString()%>' />--%>
                                 <%-- </ItemTemplate>
                        </asp:Repeater>
                </div>
            </div>--%>
           <%-- <br />
                               <asp:Repeater ID="Repeater2" runat="server">
                            <ItemTemplate>            
            <div class="row">
                <div class="col-md-2"><strong>Question:</strong></div>
                <div class="col-md-10">
                    <strong><asp:Label ID="Label2" runat="server" Text='<%#Eval("Question") %>'></asp:Label></strong>
                </div>
            </div>--%>
                               <%-- <div class="row">
                                    <div class="col-md-12">
                                        <asp:Image ID="testimg" runat="server" ImageUrl='<%#Eval("path") %>' Height="200px" Width="500px"/>
                                    </div>
                                </div><br />
                                           <div class="row">
                                                <div class="col-md-1">
                                                   <input type="radio" id="rdbval1" name="val" value="A"/>
                                                    A
                                               </div>
                                               <div class="col-md-5">
                                                   <asp:Label ID="lbloption1" CssClass="lbloption" ClientIDMode="Static" runat="server" Text='<%#Eval("Optionval1") %>'></asp:Label>

                                               </div>
                                               <div class="col-md-1">
                                                   <input type="radio" id="rdbval2" name="val" value="B"/>B</div>
                                               <div class="col-md-5">
                                                   <asp:Label ID="lbloption2" CssClass="lbloption" runat="server" ClientIDMode="Static" Text='<%#Eval("Optionval2") %>'></asp:Label></div>
                                          
                                               </div><br />--%>
                                            <%--<div class="row">
                                                 <div class="col-md-1">
                                                  <input type="radio" id="rdbval3" name="val" value="C"/>C
                                               </div>
                                               <div class="col-md-5">
                                                   <asp:Label ID="lbloption3" CssClass="lbloption" runat="server" Text='<%#Eval("Optionval3") %>' ClientIDMode="Static"></asp:Label></div>
                                                <div class="col-md-1">   
                                               <input type="radio" id="rdbval4" name="val" value="D"/>D
                                               </div>
                                               <div class="col-md-5">
                                                   <asp:Label ID="lbloption4" CssClass="lbloption" runat="server" Text='<%#Eval("Optionval4") %>' ClientIDMode="Static"></asp:Label></div>
                                               
                                                </div><br />
                                           <div class="row">
                                               <div class="col-md-12">
                                                  <%-- <asp:Button ID="btnsavenext" Width="120px" runat="server" Text="Continue" onclick="btnsavenext_Click"/>--%>
                                                  <%--<input type="button" id="btnsavenext" value="save and continue" />
                                               </div>
                                           </div>
                                 </ItemTemplate>
                        </asp:Repeater>--%>
            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-1" id="hdn">

                        </div>
                        <div class="col-md-11" id="lblqs">
                        </div>
					</div><br />
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10" id="divimg">
                </div>
                <div class="col-md-1"></div>
            </div><br />
            <div class="row">
                <div class="col-md-1" id="divrdb1"></div>
                <div class="col-md-11" id="divopt1">
                </div>
                </div><br />
            <div class="row">
                <div class="col-md-1" id="divrdb2">

                </div>
                <div class="col-md-11" id="divopt2">
                   <%--<input type="radio" id="rdbB" name="val" value="B"/>--%>
                </div>
            </div><br />
             <div class="row">
                 <div class="col-md-1" id="divrdb3"></div>
                <div class="col-md-11" id="divopt3">
                    <%--<input type="radio" id="rdbC" name="val" value="C"/>--%>
                </div></div><br />
            <div class="row">
                 <div class="col-md-1" id="divrdb4"></div>
                 <div class="col-md-11" id="divopt4">
                    <%--<input type="radio" id="rdbD" name="val" value="D"/>--%>
                 </div>
                 
            </div><br />
            <div class="row">
                <div class="col-md-12" style="text-align:center">
                    <input type="button" id="btnnext" value="Save and Continue" />
                </div>
            </div>
                </div>
                <div class="col-md-2" style="border-style:groove">
                    <div class="row">
                        <div class="col-md-12">
                            <asp:ScriptManager ID= "SM1" runat="server"></asp:ScriptManager>

<asp:Timer ID="timer1" runat="server" Interval="1000" OnTick="timer1_tick"></asp:Timer>

      
    <asp:UpdatePanel id="UpdatePanel1" runat="server" UpdateMode="Conditional">
   <ContentTemplate>
       <asp:Label ID="Label1" runat="server"></asp:Label>
       </ContentTemplate>
     <Triggers>
       <asp:AsyncPostBackTrigger ControlID="timer1" EventName ="tick" />
       </Triggers>
       </asp:UpdatePanel>
            <asp:Label ID="Label3" runat="server" Text="Label" Visible="false" ForeColor="#FF3300"></asp:Label>
                        </div><br />
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Qs list</strong>
                        </div>
                    </div><br />
                     <div class="row">
                <div class="col-md-12" id="divqsno">

                </div>
            </div><br />
                </div>
            </div>
           
					
            </div>
    </div>
  

  <%--  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>--%>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/Add_Details.js"></script>

<%--    <script>
        $('link[rel=stylesheet][href="css/style.css"]').remove();
    </script>--%>

   <%--   <script src="Admin/js/jquery.min.js"></script>
    --%>
      <script type="text/javascript">
var prm = Sys.WebForms.PageRequestManager.getInstance();
prm.add_beginRequest(beginRequest);
function beginRequest()
{
    prm._scrollPosition = null;
}
</script>
    <script>
        $("#btnsavenext").click(function () {
            var current = $(this);
            if ($("input[type='radio']").is(':checked')) {
                var radio = current.parent().parent().parent().find("input[name=val]:checked").val();
            }
            else {
                alert('Plz choose your option');
            }
            var Email = "";
             var cookieArray = document.cookie.split("; ");
             for (var i = 0; i < cookieArray.length; i++) {
                 var nameValueArray = cookieArray[i].split("=");
                 if (nameValueArray[0] == "Email") {
                     Email = nameValueArray[1];
                 }
             }

            var id = GetParameterValues('index');
            value = parseInt(id.value, 10);
            value = isNaN(id) ? id : id;
            value = parseInt(value)+1;
            var section = GetParameterValues('setNo');
            function GetParameterValues(param) {
                var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                for (var i = 0; i < url.length; i++) {
                    var urlparam = url[i].split('=');
                    if (urlparam[0] == param) {
                        return urlparam[1];
                    }
                }
            }
            $.ajax({
                        type: 'POST',
                        url: 'Onlinetest.aspx/Save',
                        data: "{'radio':'" + radio + "','Email':'" + Email + "','id':'" + id + "','section':'" + section + "'}",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            var obj = data.d;
                            if (obj == 'true') {
                               
                                //alert("Data Saved Successfully");
                                window.location.href = 'Onlinetest.aspx?setNo=' + section + '&index=' + value;
                            }
                            else
                                alert(obj);
                        },
                        error: function (result) {
                            alert("Error Occured, Try Again");
                        }
                    });
    
//    var txtid = current.parent().parent().parent().find("#DropDownList1").val();
    
//    var opt1 = current.parent().parent().parent().find("#txtOption1").val();
//    var opt2 = current.parent().parent().parent().find("#txtOption2").val();
//    var opt3 = current.parent().parent().parent().find("#txtOption3").val();
//    var opt4 = current.parent().parent().parent().find("#txtOption4").val();
//    var time = current.parent().parent().parent().find("#ddlmin").val();

//    var fileUpload = $("#FileUpload1").get(0);
//    var files = fileUpload.files;
//    var test = new FormData();

//    for (var i = 0; i < files.length; i++) {
//        test.append(files[i].name, files[i]);
//    }
//    //$("input[type='radio']").click(function () {
//    //    var current = $(this);
//    var option = $('input[name="a"]:checked');
//    var opt = option.siblings().val();

//    $.ajax({
//        type: 'POST',
//        //url: 'Edit_quiz.aspx/SaveAnswer',
//        url: "UploadHandler.ashx",
//        data: "{'txtqs':'" + txtqs + "','txtid':'" + txtid + "','opt1':'" + opt1 + "','opt2':'" + opt2 + "','opt3':'" + opt3 + "','opt4':'" + opt4 + "','option':'" + opt + "','time':'" + time + "','test':'" + test + "'}",
//        contentType: "application/json; charset=utf-8",
//        dataType: "json",
//        success: function (data) {
//            var obj = data.d;
//            if (obj == 'true') {
//                $('#txtqs').val('');
//                //$('#txtid').val('');
//                $('#opt1').val('');
//                $('#opt2').val('');
//                $('#opt3').val('');
//                $('#opt4').val('');
//                alert("Data Saved Successfully");

//            }
//            else
//                alert(obj);
//        },
//        error: function (result) {
//            alert("Error Occured, Try Again");
//        }
//    });
});
		</script>	
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        var counter = 1;
        $("#btnnext").click(function () {
            var current = $(this);
            var Email = "";
             var cookieArray = document.cookie.split("; ");
             for (var i = 0; i < cookieArray.length; i++) {
                 var nameValueArray = cookieArray[i].split("=");
                 if (nameValueArray[0] == "Email") {
                     Email = nameValueArray[1];
                 }
             }
            var id = $("input[name='myfieldname']").val();
            if ($("input[type='radio']").is(':checked')) {
                var radio = current.parent().parent().parent().find("input[name=val]:checked").val();
            }
            else {
                alert('Plz choose your option');
                return false;
            }
            function getUrlVars() {

                var vars = [], hash;
                var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                for (var i = 0; i < hashes.length; i++) {
                    hash = hashes[i].split('=');
                    vars.push(hash[0]);
                    vars[hash[0]] = hash[1];
                }
                return vars;
            }
            var set = getUrlVars()["set"];
            var section = getUrlVars()["section"];
            var decode = decodeURI(section);
            
            $.ajax({
                type: "Post",
                contentType: "application/Json; Charset=utf-8",
                url: "Onlinetest.aspx/nextlist",
                data: "{'id':'" + id + "','Email':'" + Email + "','radio':'" + radio + "','counter':'" + counter + "','set':'" + set + "','section':'" + decode + "'}",
                dataType: "json",
                success: function (result) {
                    //$('#lblqs').empty();
                    //$('#lblqs').append('<input type="text">');
                    $.each(result.d, function (key, value) {
                        if (counter < 300) {
                            //$('#lblqs').append('<input type="text">').val(value.Id).text(value.Question);
                            var $label = $('<label id="' + counter + '">').text(value.Question);
                            //Create the input element
                            //var $input = $('<input type="text">').attr({ id: value.Id, name: value.Question });
                            $('#lblqs').html($label);
                            var $labelopt1 = $('<label></label>').text(value.Optionval1);
                            $('#divopt1').html($labelopt1);
                            var $labelopt2 = $('<label></label>').text(value.Optionval2);
                            $('#divopt2').html($labelopt2);
                            var $labelopt3 = $('<label></label>').text(value.Optionval3);
                            $('#divopt3').html($labelopt3);
                            var $labelopt4 = $('<label></label>').text(value.Optionval4);
                            $('#divopt4').html($labelopt4);
                            var img = '<img src="' + value.path + '" height="200px" width="800px"/>';
                            $('#divimg').html(img);
                            var $rdb1 = ' <input type="radio" id="rdbA" name="val" value="A"/>';
                            $('#divrdb1').html($rdb1);
                            var $rdb2 = ' <input type="radio" id="rdbB" name="val" value="B"/>';
                            $('#divrdb2').html($rdb2);
                            var $rdb3 = ' <input type="radio" id="rdbC" name="val" value="C"/>';
                            $('#divrdb3').html($rdb3);
                            var $rdb4 = ' <input type="radio" id="rdbD" name="val" value="D"/>';
                            $('#divrdb4').html($rdb4);
                            var $hdn = '<input type="hidden" name="myfieldname" value="' + value.Id + '" />';
                            $('#hdn').html($hdn);
                        } counter++;
                    }); 
                },
                error: function ajaxError(result) {

                }
            }); 
        });
    </script>
   
</asp:Content>