﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master2.master" AutoEventWireup="true" CodeFile="ssc.aspx.cs" Inherits="ssc" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <br />
		<div class="container" style="background-color:white; width:70%">
            
            <h3 class="w3l_header w3_agileits_header1"><span>SSC</span></h3>
            <asp:Literal ID="literal1" runat="server"></asp:Literal>
                     <%--   <asp:HiddenField  runat="server"  Value='<%#Eval("sscId") %>' ID="setNumber"/>
                <div class="row">
                    <div class="col-md-4">
                                               <asp:Label ID="lblshow" runat="server" Visible="false" Text="Result:" BackColor="Yellow"></asp:Label>
                    </div>
                    <div class="col-md-8">
                        <asp:Label ID="lblresult" runat="server" Visible="false" BackColor="Yellow"></asp:Label>
                    </div>
                
    <asp:Repeater ID="rptqs" runat="server">
        <ItemTemplate>
                 <div class="row" style="border-bottom-color:lightsteelblue; border-width:medium; border-style:solid; box-shadow:rgb(128, 128, 128);">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <asp:HiddenField ClientIDMode="Static"  runat="server" Value='<%#Eval("sscId") %>' ID="sno"/>
                        <strong><asp:Label ID="lblqs" ClientIDMode="Static" runat="server"  Text='<%#Eval("Question") %>'></asp:Label></strong>
                </div>
                    </div>
                 <div class="row">
                                    <div class="col-md-12">
                                        <asp:Image ID="testimg" runat="server" ImageUrl='<%#Eval("picpath") %>' Height="200px" Width="500px"/>
                                    </div>
                                </div>
                <div class="row">
                    <div class="col-md-1">
                        <asp:RadioButton ID="rdb1" CssClass="label2" runat="server" value='A' GroupName="a" /> </div>
                    <div class="col-md-5">
                        <asp:Label ID="lblsub1" runat="server" CssClass="label2" Text='<%#Eval("val1") %>'></asp:Label>
                    </div>
                    <div class="col-md-1">
                        <asp:RadioButton ID="rdb2" runat="server" CssClass="label2" value='B' GroupName="a"  />
                        </div>
                    <div class="col-md-5">
                        <asp:Label ID="lblsub2" runat="server" CssClass="label2" Text='<%#Eval("val2") %>'></asp:Label>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-1">
                        <asp:RadioButton ID="rdb3" runat="server" CssClass="label2" value='C'  GroupName="a" />
                        </div>
                        <div class="col-md-5">
                            <asp:Label ID="lblsub3" runat="server" CssClass="label2" Text='<%#Eval("val3") %>'></asp:Label>
                            </div>
                    <div class="col-md-1">
                        <asp:RadioButton ID="rdb4" runat="server" CssClass="label2" value='D' GroupName="a" />
                        </div>
                        <div class="col-md-5">
                            <asp:Label ID="lblsub4" runat="server" CssClass="label2" Text='<%#Eval("val4") %>' ></asp:Label>
                    </div></div>--%>
                

                <%--<asp:DataList ID="DataList1" runat="server">
                    <ItemTemplate>
                    <div class="row">
                    <div class="col-md-5">
                        <asp:HiddenField  runat="server" Value='<%# DataBinder.Eval(Container.DataItem, "Id") %>' ID="id1"/>
                        <asp:Label ID="lblsub1" runat="server" Text='<%# DataBinder.Eval(Container.DataItem, "val1") %>'></asp:Label> </div>
                    <div class="col-md-1">
                        <asp:RadioButton ID="rdb1" runat="server" GroupName="a"/></div>
                    <div class="col-md-5">
                        <asp:Label ID="lblsub2" runat="server" Text='<%# DataBinder.Eval(Container.DataItem, "val2") %>'></asp:Label></div>
                    <div class="col-md-1">
                        <asp:RadioButton ID="rdb2" runat="server" GroupName="a"/></div>
                    </div>
                    <div class="row">
                    <div class="col-md-5">
                        <asp:Label ID="lblsub3" runat="server" Text='<%# DataBinder.Eval(Container.DataItem, "val3") %>'></asp:Label> </div>
                        <div class="col-md-1">
                            <asp:RadioButton ID="rdb3" runat="server" GroupName="a"/>
                            </div>
                    <div class="col-md-5">
                        <asp:Label ID="lblsub4" runat="server" Text='<%# DataBinder.Eval(Container.DataItem, "val4") %>'></asp:Label></div>
                        <div class="col-md-1">
                            <asp:RadioButton ID="rdb4" runat="server" GroupName="a"/>
                    </div></div>
</ItemTemplate>
                </asp:DataList>--%>
               <%-- <br />
                      </div>
                     </div>
		 </ItemTemplate>
    </asp:Repeater>
              <div class="row" style="text-align:center">
                    <div class="col-md-12">
                        <input type="button" value="Submit" id="btnSubmit" />
                    </div>
                </div>  
        </div>--%>
	 </div>
      <script src="Admin/js/jquery.min.js"></script>
   <%-- <script>
        $("#btnSubmit").click(function () {
            $("input[type='radio']:checked").each(function () {
            var current = $(this);
            var opt = current.val();
            var Email = '<%= Session["usr"] %>';
            var id = current.parent().parent().parent().parent().find("#sno").val();
            $.ajax({
        type: "POST",
        url: "ssc.aspx/SaveAnswer",
        data: "{ 'opt':'" + opt+"', 'Email': '"+Email+"', 'id': '"+id+"'}",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (r) {
            if(r.d=='true')
            {
                <% Session["ssc"] = "ssc"; %>
                window.location.href = 'timeout.aspx';
                //alert("Submitted successfullyy");
            }
        },
        error: function(result) {
            alert("Error");
        }
            });
        });
        });
        </script>--%>
</asp:Content>

