body .testSection.container-fluid {
    padding: 0;
    font-family: arial,verdana,helvetica,sans-serif;
}

.testSection .col-xs-9 {
    width: 80%;
}

.testSection .col-xs-3 {
    width: 20%;
}

.testSection {
    display: none;
}

    .testSection ._question strong * {
        font-weight: bold !important;
    }

.resumePage > div > div {
    border: 1px solid #000;
    text-align: center;
    padding: 1% 3% 2%;
    margin-top: 15%;
}

.resumePage h1 {
    font-size: 1.7em;
}

.resumePage .btn.btn-primary {
    background-color: #C7DCF0;
    border: #A9D0F5 2px solid;
    font-size: 13px;
    color: black;
    border-radius: 0;
}

.testSection #header {
    background: url("~/onlinetest/header_bg.gif") repeat-x scroll left bottom transparent;
    background-color: #4D8CCA;
    height: 45px;
    margin: 0;
    text-align: center;
}

    .testSection #header > h1 {
        font-family: arial,verdana,helvetica,sans-serif;
        font-size: 18px;
        margin-top: 12px;
        color: white;
        font-weight: bold;
    }

.testSection .row {
    margin: 0;
}

.testSection .commonText {
    overflow: auto;
    flex-basis: 50%;
    height: inherit;
    padding: 10px 5px;
    border-right: 1px solid rgb(238,238,238);
}

.commonText * {
    line-height: 1.5em !important;
    font-size: 16px !important;
}

.testSection .commonText > p > span {
    font-size: 13px;
    font-style: normal;
    color: black;
    font-family: Arial,verdana,helvetica,sans-serif;
}

.testSection fieldset {
    display: block;
    border: 2px groove threedface;
    padding: 5px 10px 10px;
}

.testSection legend {
    width: auto;
    padding: 0;
    margin-bottom: 0px;
    font-size: 14px;
    border-bottom: 0px;
    display: block;
    -webkit-padding-start: 2px;
    -webkit-padding-end: 2px;
    border: none;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

.testSection fieldset > p {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.testSection a.section-link, .testSection a.section-link:hover {
    position: relative;
    display: inline-block;
    border: 2px solid #2F72B7;
    font-weight: bold;
    width: 200px;
    text-align: center;
    outline: none;
    color: black;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 5px;
    font-size: .9em;
}

    .testSection a.section-link.active-link, .testSection a.section-link.active-link:hover {
        position: relative;
        display: inline-block;
        background-color: #2F72B7;
        font-weight: bold;
        color: #FFFFFF;
        text-align: center;
        outline: none;
        text-decoration: none;
        cursor: pointer;
        padding: 5px;
        margin-left: 5px;
        font-size: .9em;
    }

.testSection .col-xs-9, .testSection .col-xs-3 {
    padding-left: 3px;
    padding-right: 3px;
}

.testSection .questionContent {
    display: flex;
    flex-flow: row wrap;
    overflow: auto;
    border: 1px #ccc solid;
    word-wrap: break-word;
}

.testSection .questionHead {
    border-bottom: 1px solid #000000;
    padding: 4px;
    flex-basis: 100%;
    display: flex;
    align-items: center;
}

    .testSection .questionHead > p {
        font-size: 13px;
        font-family: Arial,verdana,helvetica,sans-serif;
        margin-bottom: 0;
        flex-basis: 100%;
    }

.testSection .quesAnsContent {
    padding: 10px 0;
    height: inherit;
}

    .testSection .quesAnsContent .choices tr td label, .testSection .quesAnsContent .choices tr td input {
        cursor: pointer;
    }

    .testSection .quesAnsContent > table > tbody {
        vertical-align: top;
    }

.testSection .profileBox {
    width: 400px;
    margin: auto;
    border: 1px solid black;
    overflow: hidden;
}

.testSection .profileSection {
    height: inherit;
    border: 1px #ccc solid;
}

.testSection .instructionContainer {
    height: inherit;
}

.testSection .profileSection > h1 {
    text-align: center;
    font-size: 1.5em;
}

.testSection .profileBox > div {
    padding-right: 0;
}

.testSection .RNBtn, .testSection .CRBtn {
    float: left;
}

.testSection .SNBtn {
    float: right;
}

.testSection .timerContainer {
}

    .testSection .timerContainer > div:nth-child(1) {
        padding: 5px;
        text-align: center;
    }

    .testSection .timerContainer > div:nth-child(2) {
        padding: 5px;
    }

        .testSection .timerContainer > div:nth-child(2) > p {
            margin-top: 15%;
            margin-bottom: 0px;
        }

.testSection a:hover {
    text-decoration: none;
    color: inherit;
}

.testSection .quesLinksa {
    background: url('buttons-sprite.png') no-repeat;
    width: 35px;
    height: 40px;
    float: left;
    line-height: 26px;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    text-decoration: none;
    background-position: -32px -68px;
    padding-top: 5px;
}

.testSection .current-question, .testSection a.current-question:hover, .testSection .status-skip, .testSection a.status-skip:hover {
    background: url('buttons-sprite.png') no-repeat;
    width: 35px;
    height: 40px;
    float: left;
    line-height: 26px;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-decoration: none;
    background-position: -32px 2px;
    padding-top: 5px;
}

.testSection .status-answer, .testSection a.status-answer:hover {
    background: url('buttons-sprite.png') no-repeat;
    width: 35px;
    height: 40px;
    float: left;
    line-height: 26px;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-decoration: none;
    background-position: -71px 2px;
}

.testSection .status-revise, .testSection a.status-revise:hover {
    background: url('buttons-sprite.png') no-repeat;
    width: 35px;
    height: 40px;
    float: left;
    line-height: 26px;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-decoration: none;
    background-position: -31px -33px;
}

.testSection a.status-revise.status-answer {
    background: url('buttons-sprite.png') no-repeat;
    width: 35px;
    height: 40px;
    float: left;
    line-height: 26px;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding-top: 7px;
    background-position: -70px -69px;
}

.testSection .button1, .testSection .button2, .testSection .backButton {
    border-collapse: collapse;
    background-color: #C7DCF0;
    border: #A9D0F5 2px solid;
    margin-top: 0.5%;
    text-align: center;
    width: 100%;
    font-size: 12px;
    cursor: pointer;
    width: 100%;
    display: block;
    color: black;
}

.testSection .btnActive, .testSection .btnActive:hover {
    color: white;
    background: rgb(47,114,183);
}

.testSection .backButton {
    width: 80px;
    margin: auto;
    margin-top: 1px;
}

.testSection .helperConainer {
    font-size: 12px;
}

    .testSection .helperConainer > div {
        height: 25%;
    }

        .testSection .helperConainer > div > div {
            padding-left: 5px;
            padding-right: 5px;
            margin-bottom: 4px;
            font-size: .8em;
        }

._question * {
    font-size: 16px !important;
    line-height: 1.5em !important;
}

.padding0 {
    padding: 0 !important;
}

.testSection ._question span, .testSection ._question > span > p span, .testSection .choice_wrap > td span, .testSection ._question {
    font-size: 16px;
    line-height: 1.5em;
    font-style: normal;
    color: black;
    font-family: Verdana,helvetica,sans-serif;
    font-weight: normal;
}

    .testSection ._question b > span, .testSection ._question strong > span, .testSection ._question > span > p b > span, .testSection ._question > span > p strong > span, .testSection .choice_wrap > td b > span, .testSection .choice_wrap > td strong > span, .testSection ._question .testSection .choice_wrap td b > span, .testSection ._question .testSection .choice_wrap td strong > span {
        font-style: bold !important;
    }

.testSection .helperConainer > div > div > img {
    width: 25px;
    margin-right: 9px;
}

.testSection .quesNumberPanel {
    margin-bottom: 5px;
    flex-grow: 1;
}

.testSection .quesLinks {
    min-width: 125px;
    overflow: auto;
    margin: auto;
}

    .testSection .quesLinks .questions_list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

.testSection .numberPanel {
    background-color: #E4EDF7;
    width: 100%;
    padding: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

    .testSection .numberPanel > p:nth-child(1) {
        margin: 5px 0;
    }

    .testSection .numberPanel > p:nth-child(2), .testSection .numberPanel > p:nth-child(4) {
        margin: 5px 0;
    }

.testSection .helperContainer {
    height: 23%;
}

.testSection .timerContainer > div > img {
    width: 100%;
    max-width: 80px;
}

.testSection .actionButtons {
    border: 1px #ccc solid;
    overflow: auto;
    height: 48px;
}

.testSection .RNBtn, .testSection .SNBtn, .testSection .CRBtn {
    border-collapse: collapse;
    background-color: #C7DCF0;
    border: #A9D0F5 2px solid;
    cursor: pointer;
    width: 180px;
    height: 35px;
    margin: 5px;
}

.testSection .SNBtn {
    background-color: #2F72B7;
    font-weight: bold;
    color: #FFFFFF;
    height: 38px;
    width: 180px;
    cursor: pointer;
    margin-right: 8px;
    border: 2px solid #A9D0F5;
}

.testSection .quesAnsContent > p {
    margin-left: 5px;
    font-family: Arial,verdana,helvetica,sans-serif;
    padding-bottom: 10px;
}

.testSection .quesAnsContent > table > tbody > tr > td {
    padding-left: 10px;
}

.testSection footer {
    height: 50px;
}

    .testSection footer .row {
        background: url(footer_bg.gif) repeat-x scroll left bottom transparent;
        background-size: contain;
        padding: 0;
        margin: 0;
        text-align: center;
        height: inherit;
    }

        .testSection footer .row > p {
            color: white;
            padding-top: 14px;
        }

.testSection .QASection, .examSummary {
    height: inherit;
}

.testSection .instructions, .testSection .QA {
    height: 95%;
    border: 1px #ccc solid;
    overflow: auto;
}

    .testSection .instructions > h1, .testSection .instructions > h2 {
        color: rgb(47,114,183);
        font-size: 1.5em;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }

.testSection .examSummary .table, .afterTestFinishedSection .examSummary .table {
    margin-top: 5%;
    font-family: arial,verdana,helvetica,sans-serif;
    font-size: 12px;
}

    .testSection .examSummary .table thead, .afterTestFinishedSection .examSummary .table thead {
        background: #E4EDF7;
        border-top: 1px solid #000;
        border-left: 1px solid #000;
    }

.testSection .summarySectionSubmitButton, .testSection .summarySectionCancelButton, .afterTestFinishedSection .testFinished input {
    background-color: #C7DCF0;
    border: #A9D0F5 2px solid;
    font-size: 13px;
}

.afterTestFinishedSection .testFinished input {
    padding: 6px;
    font-size: 16px;
    width: 100%;
    max-width: 130px;
}

.testSection .summarySectionSubmitButton {
    margin-right: 2%;
    margin-bottom: 2%;
}

.testSection .summarySectionCancelButton {
    margin-left: 2%;
    margin-bottom: 2%;
}

.testSection .examSummary .totalRow, .afterTestFinishedSection .examSummary .totalRow {
    font-weight: 700;
}

.testSection .examSummary .table th, .testSection .examSummary .table td, .afterTestFinishedSection .examSummary .table th, .afterTestFinishedSection .examSummary .table td {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
}

.testSection .examSummary .table td, .afterTestFinishedSection .examSummary .table td {
    border-left: 1px solid #000;
}

.testSection #tooltip_answered {
    background: url(answered.png) no-repeat;
    width: 33px;
    height: 30px;
    float: left;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
    color: #fff;
}

.testSection #tooltip_not_answered {
    background: url(not_answered.png) no-repeat;
    width: 33px;
    height: 30px;
    float: left;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
    color: #fff;
}

.testSection #tooltip_not_visited {
    background: url(not_visited.png) no-repeat;
    width: 33px;
    height: 30px;
    float: left;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
    color: #000;
}

.testSection #tooltip_review {
    background: url(review.png) no-repeat;
    width: 33px;
    height: 30px;
    float: left;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
    color: #fff;
}

.testSection #tooltip_reviewanswered {
    background: url(review_answer.png) no-repeat;
    width: 36px;
    height: 37px;
    float: left;
    text-align: left;
    margin-right: 5px;
    cursor: pointer;
    color: #fff;
}

.testSection .sysInsTest1 > p, .testSection .sysInsTest1Hindi > p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.testSection .sysInsTest1, .testSection .sysInsTest1Hindi {
    overflow: auto;
}

    .testSection .sysInsTest1 > ol, .testSection .sysInsTest1Hindi > ol {
        margin-bottom: 25px;
    }

        .testSection .sysInsTest1 > ol > li > table, .testSection .sysInsTest1Hindi > ol > li > table {
            margin: 8px 0;
        }

.testSection .secondPage2 > p, .testSection .secondPage2 > table {
    margin-bottom: 5px;
    font-size: .9em;
}

.testSection .firstPage, .testSection .secondPage {
    overflow: auto;
    padding: 2px;
}

.testSection td {
    padding: 2px;
}

.testSection .QA > h1 {
    color: rgb(47,114,183);
    font-size: 1.7em;
    margin-top: 15px;
    padding-left: 9px;
    margin-bottom: 5px;
}

.testSection .QA > div > div {
    padding-right: 1px;
    padding-left: 9px;
}

    .testSection .QA > div > div.col-xs-1 {
        width: 5%;
    }

    .testSection .QA > div > div.col-xs-11 {
        width: 94%;
        padding-left: 0;
    }

    .testSection .QA > div > div > span, .testSection .QA > div > div > span > p > span {
        font-size: 13px;
        font-style: normal;
        color: black;
        font-family: Arial,verdana,helvetica,sans-serif;
    }

.testSection .QA > div {
    padding: 15px 0;
    width: 98%;
    margin: auto;
    border-bottom: 1px solid #ccc;
}

.testSection .leftSection {
    height: inherit;
    overflow: hidden;
}

.testSection .rightSection {
    display: flex;
    flex-direction: column;
    height: 100%;
}

    .testSection .rightSection .timerContainer .numberPanel > * {
        flex-shrink: 0;
    }

.quesNumberPanel {
    flex-shrink: 1;
    overflow: scroll;
}

.testSection .toolTip {
    background: #CAE1FF;
    border: 1px solid #0066CC;
    width: 200px;
    height: 200px;
    display: none;
    pointer-events: none;
    color: black;
    padding: 10px;
    z-index: 99999;
}

    .testSection .toolTip > p {
        padding-bottom: 3px;
        border-bottom: 2px solid black;
    }

.testSection .test-link:hover .toolTip {
    display: block;
    position: absolute;
    top: 30px;
    left: 20px;
    color: black;
}

.testSection .toolTip > div.row {
    padding: 0;
    text-align: left;
}

    .testSection .toolTip > div.row > div {
        padding: 5px 0px;
    }

        .testSection .toolTip > div.row > div.ansd {
            background: url(answered.png) no-repeat;
            height: 30px;
            color: white;
            text-align: center;
            background-position: 50% 0;
        }

        .testSection .toolTip > div.row > div.nansd {
            background: url(not_answered.png) no-repeat;
            height: 30px;
            color: white;
            text-align: center;
            background-position: 50% 0;
        }

        .testSection .toolTip > div.row > div.mfr {
            background: url(review.png) no-repeat;
            height: 30px;
            color: white;
            text-align: center;
            background-position: 50% 0;
        }

        .testSection .toolTip > div.row > div.nv {
            background: url(not_visited.png) no-repeat;
            height: 30px;
            text-align: center;
            background-position: 50% 0;
        }

.testSection .QA > div.row > div.row > div.col-xs-1 {
    padding-right: 0;
    text-align: right;
    width: 5%;
}

.testSection .QA > div.row > div.row > div.col-xs-11 {
    width: 95%;
}

.testSection .QA > div.row * {
    font-size: 12px !important;
    font-style: normal;
    color: black;
    font-family: Arial,verdana,helvetica,sans-serif;
}

.commonText sub, .commonText sup, ._question sub, ._question sup, .commonText sub *, .commonText sup *, ._question sub *, ._question sup * {
    font-size: 0.75em !important;
}

.spinner {
    height: 40px;
    width: 40px;
    position: relative;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 4px solid rgba(255,255,255,.15);
    border-right: 4px solid rgba(255,255,255,.15);
    border-bottom: 4px solid rgba(255,255,255,.15);
    border-top: 4px solid rgba(255,255,255,.8);
    border-radius: 100%;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(359deg);
    }
}

@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
    }

    to {
        -o-transform: rotate(359deg);
    }
}

.spinnerContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    z-index: 10000;
}

.spinnerOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.testSection .quesLinks .questions_list.show {
    display: flex !important;
}
