﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/AdminMaster.master" AutoEventWireup="true" CodeFile="Adminindex.aspx.cs" Inherits="Admin_Adminindex" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <div>
        <asp:Image runat="server"></asp:Image>
    </div>
</asp:Content>

