﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Login.aspx.cs" Inherits="Admin_Login" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style3 {
            height: 39px;
        }
        .auto-style5 {
            height: 39px;
            margin-left: 3px;
        }
        .auto-style6 {
            width: 445px;
            height: 177px;
        }
    </style>
    <link href="css/admin_login.css" rel="stylesheet" />
</head>
<body>
    <form id="form1" runat="server">
     <div>
         <center>
                    <div>
                        &nbsp;
                    </div>
                    <div>
                        &nbsp;
                    </div>
                    <div>
                        &nbsp;
                    </div>
                    <div>
                        <center><h1><font color="green">Login Form</font></h1></center>
                    </div>
                                                    
                                                     <fieldset class="auto-style6">
                                                         <div class="auto-style3"></div>
																<div class="auto-style3"><strong><asp:Label ID="lblUsrnm" runat="server" Text="Username:"></asp:Label></strong>
                                                                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                                 <asp:TextBox ID="txtUsrnm" runat="server"></asp:TextBox>
                                                                   
																		</div> <div></div>
                                                                           
                                                                           <div class="auto-style5">
                                                                                <strong>
                                                                                <asp:Label ID="lblPwd" runat="server" Text="Password:"></asp:Label>
                                                                                </strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <asp:TextBox ID="txtPwd" runat="server" TextMode="Password"></asp:TextBox>
                                                                                 </div>
                                                         <div></div>
                                                                            
                                                                       <div class="auto-style3"><center><asp:Button ID="btnSubmit" runat="server" Text="Submit" OnClick="btnSubmit_Click" />
                                                                            <asp:Label ID="lblConfirm" runat="server" Text="Label" Visible="false"></asp:Label></center></div>
                                                      </fieldset>
    <div>
    
        
    
    </div>
            </center></div>
    </form>
</body>
</html>
