
body{
	margin:0;
	font-family: 'Open Sans', sans-serif;
	background: #fff;  
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration:none;
	outline:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	font-family: 'Oranienbaum', serif; 
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover,body a:focus {
	text-decoration:none;
	outline: none;
} 
/*-- banner --*/
.agileits-banner {
	background:url(../images/1.jpg)no-repeat center center;
	-webkit-background-size:cover;
	background-size:cover;
	-moz-background-size:cover;
	position: relative;
} 
/*-- header-w3layoutstop--*/
.header-w3layoutstop {
    padding:0.8em 0;
    background:#16214e;
}
.header-w3layoutstop p {
    color: #fff;
    font-size: 1em;
    text-align: center;
    letter-spacing: 1px;
}
.header-w3layoutstop p span.fa {
    margin-right: 5px;
    font-size: 1.2em;
}
/*-- social-icons --*/  
.social-w3licon a {
    font-size: 1em;
    color: #fff;
    margin:0 .8em;
    border: 1px solid transparent;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 999;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	transition:.5s all;
} 
.social-w3licon a:hover {
    color: #3b5998;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
    transform: scale(1.2);
}
.social-w3licon a.twitter:hover {
    color: #1da1f2; 
}
.social-w3licon a.google:hover {
    color: #dd4b39; 
}
.social-w3licon a.behance:hover {
    color: #1769ff; 
}
/*-- //social-icons --*/
/*-- //banner-top --*/ 
/*-- logo --*/ 
.w3llogo h1 {
    font-size: 2em;
    font-weight: 100;
    letter-spacing: 2px;
    position: relative;
}
.w3llogo h1 a {
    display: inline-block;
    color: #eb5425;
    font-weight: 600;
    font-size: 36px;
}
.w3llogo h1 a span {
    font-family: 'Aguafina Script', cursive;
    color: #16214e;
    font-size: 25px;
    letter-spacing: 3px;
    display: block;
    text-align: right;
}
/*-- //logo --*/
/*-- top-nav --*/ 
.top-nav {
    padding: 0.8em 0;
}
nav.navbar.navbar-default {
    background-color: inherit;
    border: none;
    margin: 0;
}
ul.nav.navbar {
    text-align: center;
    margin: 1.5em 0 0;
    min-height: inherit;
}
.top-nav ul li {
    margin: 0 0 0 1em;
    display: inline-block;
}
/* Effect 11: text fill based on Lea Verou's animation http://dabblet.com/gist/6046779 */
.top-nav ul li a {
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.1em;
    color: #555;
    position: relative;
    font-weight:400;
    padding: 0;
    display: inline-block;
}
.nav > li > a:hover, .nav > li > a:focus {
    background: none;
} 
.top-nav ul li a:hover, .top-nav ul li a.active {
    color: #F44336 !important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.top-nav .open > .dropdown-menu {
    display: block;
    background: #fff;
    margin-top: 1.2em;
}
.top-nav .open > .dropdown-menu li {
    margin: 0;
	display: block;
	overflow:hidden;
}
.top-nav .open > .dropdown-menu li a {
	display: block;
    color: #999;
    font-size: .9em;
    padding: .7em 1em;
    text-align: center;
    letter-spacing: 1px;
}
.top-nav .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    color: #eb5425;
    border: none;
    background: none;
}
.top-nav .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #eb5425;
    text-decoration: none;
    background-color: transparent;
}
ul.dropdown-menu.agile_short_dropdown {
    left: 0;
}
/*-- //top-nav --*/
/*-- banner --*/ 
.w3ls-banner{ 
	background:url(../images/banner-2.jpg)no-repeat center;
	-webkit-background-size:cover;
	-moz-background-size:cover; 
	background-size:cover;
	position: relative;
}
.w3ls-banner-1{ 
	background:url(../images/banner-2.jpg)no-repeat center;
	-webkit-background-size:cover;
	-moz-background-size:cover; 
	background-size:cover;
	min-height:300px;
}
img.img-responsive {
    width: 100%;
} 
.banner-text {
    text-align: center;
    padding: 18em 0;
}
.banner-text p {
    font-size: 1em;
    color: #fff;
    margin-bottom: 2em;
    letter-spacing: 15px;
}
.banner-text h2, .banner-text h3 {
    color: #fff;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.banner-text h5 {
    color: #fff;
    font-size: 1.3em;
    font-weight: 300;
	letter-spacing: 4px;
    width: 33%;
    line-height: 34px;
    margin: 2em auto;
}
.banner-text span{
    font-size: 0.8em;
    color: #fff;
    margin: 3em 0;
	display: inline-block;
}
.banner-text span i.fa{
    margin: 0 7px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
    transform: rotate(45deg);
} 
/*-- //banner --*/
/*-- banner-bottom --*/
.welcome{
	    padding: 6em 0;
    BACKGROUND-COLOR: #dcdde3;
} 
.welcome-agileinfo {
    margin-top: 5em;
} 
figure.effect-chico.welcome-img2 {
    margin-top: 2em;
}
/* Common style */
.welcome-w3imgs figure {
    position: relative;
    float: left;
    overflow: hidden;
    height: auto;
    background: #000;
    text-align: center;
} 
.welcome-w3imgs figure img {
	position: relative;
	display: block;
	max-width: 100%;
	opacity: 0.8;
} 
.welcome-w3imgs figure figcaption {
	padding: 2em;
	color: #fff;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
} 
.welcome-w3imgs figure figcaption::before,
.welcome-w3imgs figure figcaption::after {
	/*-- pointer-events:none; --*/
} 
.welcome-w3imgs figure figcaption,
.welcome-w3imgs figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*-- Chico --*/ 
figure.effect-chico img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	-moz-transition: opacity 0.35s, -moz-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12);
	-moz-transform: scale(1.12);
	-o-transform: scale(1.12);
	-ms-transform: scale(1.12);
	transform: scale(1.12);
} 
figure.effect-chico:hover img {
	opacity: 0.5;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
} 
figure.effect-chico figcaption {
	padding: 2em;
} 
figure.effect-chico figcaption::before {
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
	border: 1px solid #fff;
	content: '';
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
} 
figure.effect-chico figcaption::before,
figure.effect-chico p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	-moz-transition: opacity 0.35s, -moz-transform 0.35s; 
	transition: opacity 0.35s, transform 0.35s;
} 
figure.effect-chico h4 {
    margin: 0.5em 0;
    font-size: 2.5em;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
} 
figure.effect-chico p {
	color:#fff;
	margin: 0 auto !important;
    max-width: 200px;
    -webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
    transform: scale(1.5);
}
figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.welcome-w3imgs{
    position: relative;
}
.welcome-w3imgs img{
	width:100%;
} 
.agile-welcome-left{
    padding-left: 0;
}
.agile-welcome-right {
    padding: 0em 1em 0 1em;
}
h3.agileits-title,h2.agileits-title {
    color: #16214e;
    font-size: 4em;
    margin-bottom: .5em;
    text-align: center;
}
p{
	    font-size: 0.9em;
    line-height: 1.8em;
}
.agile-welcome-right h4 {
    font-size: 1.5em;
    color: #eb5425;
    line-height: 1.2em;
    margin-bottom: 1em;
}
.welcome p {
    margin-bottom: 1.5em;
}
/*-- //banner-bottom --*/
.about-w3slid h3 {
        font-size: 2em;
    color: #eb1226;
    text-transform: capitalize;
    /* letter-spacing: 1px; */
    font-family: sans-serif;
}
.about-w3slid p {
   width: 100%;
    margin: 2em auto 0;
    color: #ad3434;
    letter-spacing: 2px;
    font-family: sans-serif;
    text-align: justify;
}
.about-w3slid {
    /*background: url(../images/banner-1.jpg)no-repeat center 0px fixed;*/
    background-size: cover;
    text-align: center;
	/*padding:7em 0;*/
}
p.agile-p {
    font-size: 1em;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
/*-- services --*/ 
.services {
    padding: 5em 0;
}
.w3-services-grids {
    margin-top: 5em;
} 
.w3l-services-grid{
	text-align:center;
    margin-bottom: 20px;
}
.w3l-services-text {
    padding: 2em;
    border: 1px solid #ddd;
	position: relative;
	background: #f17e01;
}
.w3l-services-text:before {
    content: '';
    width: 0%;
    border: 2px solid #eb5425;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
    transition: .5s all; 
}
.w3ls-services-img {
    width: 75px;
    height: 75px;
    margin: 0 auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.w3ls-services-img i.fa {
    color: #fff;
    font-size: 3em;
    padding: .5em 0 0 0;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.agileits-services-info h4 {
    color: #fefefe;
    font-size: 1.3em;
    margin: 1.3em 0 0.8em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}
.w3l-services-grid:hover .w3ls-services-img{
    background: #eb5425;  
}
.w3l-services-grid:hover .w3ls-services-img i.fa {
    color: #fff; 
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-o-transform: scale(0.5);
	-ms-transform: scale(0.5);
    transform: scale(0.5);
} 
.w3l-services-grid:hover .w3l-services-text:before { 
    width: 100%;  
}
/*-- //services --*/
/*-- newsletter --*/
.sub-agileinfo{  
	text-align:center;
}
.sub-agileinfo h3 {
	font-size: 3em;
    margin-bottom: 1em;
}
h3.agileits-title.w3title1 {
    color: #fff; 
}
.sub-agileinfo p {
    width: 75%;
    margin: 0 auto;
    color: #fff; 
}
.sub-agileinfo form {
    margin: 2em 0;
}
.sub-agileinfo form input.user {
    width: 42%;
    padding: .8em 1em;
    outline: none;
    font-size: 1em;
    border: 1px solid #fff;
    margin-right: 1em;
    color: #000;
    letter-spacing: 2px;
}
.sub-agileinfo form input[type="submit"] { 
    font-size: 1em;
    text-transform: uppercase;
    padding: .8em 2em;
    color: #fff;
    background: #f44336;
    border: 1px solid #f44336;
    letter-spacing: 3px;
    font-weight: 600;
    outline: none;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	transition:.5s all;
}
.sub-agileinfo form input[type="submit"]:hover {
	background: transparent;
    border: 1px solid #fff;
} 
/*-- //newsletter --*/
/*-- services-bottom --*/
.wthree-services-left img{
	width:100%;
}
.wthree-services-right-top h4 {
    color: #16214e;
    font-size: 1.4em;
    margin: 0;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
}
.wthree-services-right-top p{
	color: #999999;
    font-size: .9em;
    line-height: 1.8em;
    margin: 1em 0 0 0;
}
.services-right-bottom-bottom {
    margin: 2em 0 0 0;
}
.services-bottom-icon{
	float:left;
	width:10%;
}
.services-bottom-icon i.fa {
    color: #f44336;
    font-size: 2em;
}
.services-bottom-info{
	float:left;
	width:80%;
}
.services-bottom-info h5 {
    color: #212121;
    font-size: 1.3em;
    margin: 0;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
}
.services-bottom-info p{
	color: #999999;
    font-size: .9em;
    line-height: 1.8em;
    margin: 1em 0 0 0;	
}
.w3-services-bottom{
	margin:2em 0 0 0;
}
.services-bottom {
    padding: 5em 0;
}
.wthree-services-bottom-grids {
    margin-top: 5em;
}
/*-- //services-bottom --*/
/*-- footer --*/
.footer{
	background:#212121;
	padding:5em 0;
}
.agileinfo_footer_grid h3.agileits-title {
    font-size: 2em;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 1em;
    text-transform: capitalize;
    text-align: left;
    letter-spacing: 2px;
}
.agileinfo_footer_grid ul li {
    list-style-type: none;
    margin-bottom: 1.1em;
    font-size: 1em;
    color: #999;
} 
.agileinfo_footer_grid ul li  i.fa{
    font-size: .9em;
    margin-right: 1em;
}
.agileinfo_footer_grid ul li span{
	margin-right: 1em;
}
.agileinfo_footer_grid ul li a{
	color:#999;
	text-decoration:none;
}
.agileinfo_footer_grid ul li a:hover{
	color:#f44336;
}  
.w3agile_footer_copy {
    padding-top: 2em;
    border-top: 1px solid #606060;
    text-align: center;
    margin-top: 2em;
}
.w3agile_footer_copy p{   
	letter-spacing: 2px;
}
.w3agile_footer_copy p a{
	color:#f44336;
	text-decoration:none;
}
.w3agile_footer_copy p a:hover{
	color:#999;
}
.agileinfo_footer_grid:nth-child(1) {
    padding: 0 5em 0 0;
} 
.agileinfo_footer_grid p span{
	display:block;
	margin:0.5em 0 0;
}
/*-- //footer --*/
/*-- breadcrumbs --*/
.breadcrumbs{
	padding:1em 0;
	background:#f5f5f5;
}
.w3layouts_breadcrumbs_left{
	float:left;
	margin-top: .5em;
}
.w3layouts_breadcrumbs_left ul li{
	display:inline-block;
	color:#212121;
	text-transform:uppercase;
	font-weight:600;
}
.w3layouts_breadcrumbs_left ul li span{
	padding:0 1.5em;
}
.w3layouts_breadcrumbs_left ul li i{
	padding-right:1em;
	color: #212121;
}
.w3layouts_breadcrumbs_left ul li a{
	color:#eb5425;
	text-decoration:underline;
}
.w3layouts_breadcrumbs_right{
	float:right;
}
.w3layouts_breadcrumbs_right h2 {
    font-size: 2em;
    color: #212121;
    margin: 0;
}
.w3layouts_breadcrumbs_left ul li a:hover{
	color:#212121;
}
.w3_agile_about_grid_left h3{
	font-size:1.4em;
	color:#212121;
	line-height:1.5em;
	text-transform: capitalize;
	margin:0;
}
.w3_agile_about_grid_left p i{
	color:#2ebaef;
	display:block;
	margin:1em 0 1em;
}
.w3_agile_about_grid_left p{
	color:#999;
	line-height:2em;
}
/*-- //breadcrumbs --*/
/*-- about --*/
/*-- Skills bar effects --*/
.skillbar {
  position: relative;
  display: inline-block;
  margin: 15px 0;
  width: 100%;
  background: #eee;
  height: 35px;
  border-radius: 3px;
  width: 100%;
}
.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background: #6adcfa;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
}
.skillbar-bar {
  height: 35px;
  width: 0px;
  background: #2ebaef;
  border-radius: 3px;
  display: inline-block;
}
.skill-bar-percent {
	position: absolute;
    right: -6%;
    top: 0;
    font-size: 13px;
    height: 35px;
    line-height: 35px;
    color: #212121;
}
/*-- //about --*/
/*-- team --*/
.team,.testimonials,.contact{
	padding:5em 0;
}
.w3_agile_team_grids{
	margin:5em 0 0;
}
.w3_agile_team_grid h3{
	font-size:1.2em;
	color:#212121;
	margin:1em 0 0;
}
.w3_agile_team_grid p{
	color:#2ebaef;
	text-transform:uppercase;
	font-weight:600;
	margin-bottom: 1em;
}
.w3_agile_team_grid:nth-child(2),.w3_agile_team_grid:nth-child(4){
	margin-top:5em;
}
.w3_agile_team_grid ul li{
	display:inline-block;
	margin-right:1em;
}
.w3_agile_team_grid ul li:last-child{
	margin:0;
}
.w3_agile_team_grid figure {
	overflow: hidden;
	position: relative;
}
.hover14 figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hover14 figure:hover::before,.w3_agile_team_grid:hover .hover14 figure::before{
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
.agileits_social_list li a{
    color: #212121;
    text-align: center;
    display: inline-block;
    font-size: 1.2em;
}
a.w3_agile_facebook:hover{
	color:#3b5998;
}
a.agile_twitter:hover{
	color:#1da1f2;
}
a.w3_agile_dribble:hover{
	color:#ea4c89;
}
a.w3_agile_vimeo:hover{
	color:#1ab7ea;
}
ul.agileits_social_list {
    padding: 0;
}
ul.agileits_social_list li {
    display: inline-block;
}
/*-- //team --*/
.w3ls_news_grids {
    margin-top: 5em;
}
/*-- icons --*/
.codes a {
    color: #999;
}
.icon-box {
    padding: 8px 15px;
    background:rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
    background: #000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.icon-box:hover i.fa {
	color:#fff !important;
}
.icon-box:hover a.agile-icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
    font-size: 28px;
    color: #eb5425 !important;
    margin: 30px 0 15px;
    font-weight: 600;
    letter-spacing: 2px;
}
h3.agileits-icons-title {
    text-align: center;
    font-size: 33px;
    color: #222222;
    font-weight: 600;
    letter-spacing: 2px;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
.grid_4 {
    background: none;
    margin-top: 50px;
}
/*-- mail --*/
.agileits_mail_grid_right1{
	padding:3em;
	background:#f5f5f5;
}
.agileits_mail_grid_right1 span i{
	color: #212121;
    font-size: 14px;
    text-transform: uppercase;
    font-style: normal;
    float: left;
    width: 15%;
    margin: .8em 0 0;
    font-weight: 600;
}
.agileits_mail_grid_right1 input[type="text"],.agileits_mail_grid_right1 input[type="email"],.agileits_mail_grid_right1 textarea{
	outline: none;
    width: 85%;
    background: #fff;
    color: #212121;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #E7E7E7;
}
::-webkit-input-placeholder{
	color:#212121 !important;
}
.agileits_mail_grid_right1 span {
    padding: .5em 0;
    display: block;
}
.agileits_mail_grid_right1 textarea{
	min-height:200px;
	margin-bottom:1em;
}
.agileits_mail_grid_right1 input[type="submit"] {
    outline: none;
    width: 35%;
    background: #eb5425;
    color: #ffffff;
    padding: 10px 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    border: none;
}
.agileits_mail_grid_right1 input[type="submit"]:hover{
    background:#16214e;
    color: #fff;
}
.w3layouts_mail_grid_left1{
	float: left;
    width: 50px;
    height: 50px;
    background:#aeb09f;
    text-align: center;
    border-radius: 50px;
}
.w3layouts_mail_grid_left1 span{
	font-size: 1em;
    color: #212121;
    line-height: 3.4em;
}
.w3layouts_mail_grid_left2{
	float:right;
	width:75%;
}
.w3layouts_mail_grid_left2 h3{
	font-size: 1.1em;
    color: #212121;
    margin: .3em 0 0;
}
.w3layouts_mail_grid_left2 a{
	text-decoration:none;
	color:#999;
	font-size:14px;
}
.w3layouts_mail_grid_left2 a:hover{
	color:#212121;
}
.w3layouts_mail_grid_left2 p {
    color: #999;
}
.w3layouts_mail_grid_left:nth-child(2) {
    margin: 2em 0;
}
.w3_submit{
	text-align:right;
}
.w3_agileits_mail_right_grid{
	text-align:center;
	border:2px solid #aeb09f;
	padding:5em 2em 2em;
	position:relative;
	margin:3em 0 2em;
}
.w3_agileits_mail_right_grid h4 {
    font-size: 1.7em;
    color: #eb5425;
}
.w3_agileits_mail_right_grid p{
	margin:1em 0;
	color:#999;
	line-height:2em;
}
.w3_agileits_mail_right_grid h5 {
    text-transform: uppercase;
    font-size: 1.5em;
    color: #2ebaef;
    margin: 2em 0 1em;
}
.w3_agileits_mail_right_grid ul li{
	margin-right:1em !important;
}
.w3_agileits_mail_right_grid ul li a{
	color:#212121;
}
.w3_agileits_mail_right_grid_pos{
	position: absolute;
    top: -17%;
    left: 35%;
}
.w3_agileits_mail_right_grid_pos img{
    border-radius: 40px;
    width: 100px;
}
.map-grid iframe{
	width: 100%;
	min-height: 500px;
}
/*-- //mail --*/
/*-- gallery --*/
.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;	
	overflow: hidden;
	margin: 10px 0;
	height: auto;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h3 {
    word-spacing: -0.15em;
    font-size: 1.5em;
    margin-top: 18%;
    color: #FFF;
    font-weight: 600;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}
/*-----------------*/
/***** Apollo *****/
/*-----------------*/


figure.effect-apollo img {
	opacity: 0.95;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}

figure.effect-apollo figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.5);
	content: '';
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}

figure.effect-apollo p {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #212121;
    margin: 3em;
    padding: 0 1em;
    max-width: 150px;
    border-right: 4px solid #212121;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-apollo h2 {
	text-align: left;
}

figure.effect-apollo:hover img {
	opacity: .2;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}

figure.effect-apollo:hover figcaption::before {
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}

figure.effect-apollo:hover p {
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
.gallery-grids {
    margin-top: 5em;
}
.gallery {
    padding: 5em 0;
}
/*-- //gallery --*/
@media (max-width:991px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
}
@media (max-width:768px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 25px;
	}
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	.icon-box {
		margin: 0;
	}
}
@media (max-width: 640px){
	.icon-box {
		float: left;
		width: 50%;
	}
}
@media (max-width: 480px){
	.bs-glyphicons li {
		width: 31%;
	}
}
@media (max-width: 414px){
	h3.agileits-icons-title {
		font-size: 23px;
	}
	h3.icon-subheading {
		font-size: 18px;
	}
	.bs-glyphicons li {
		width: 31.33%;
	}
}
@media (max-width: 384px){
	.icon-box {
		float: none;
		width: 100%;
	}
}
/*-- //icons --*/
.w3_wthree_agileits_icons.main-grid-border {
    padding: 5em 0;
}
.w3ls-cont{
	margin-top:5em;
}
/*--Typography--*/
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
	font-weight: 300 !important;
	border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
    margin-bottom: 1em;
    color: #0d3172;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 2px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #fb5710;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.grid_3 p{
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}
.bs-docs-example {
	margin: 1em 0;
}
section#tables  p {
	margin-top: 1em;
}
.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.alert {
	font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:2em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
	line-height: 2.5em;
}
.input-group {
	margin-bottom: 20px;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
.grid_5 {
	padding: 0 0 1em;
}
.grid_3 {
	margin-bottom: 0em;
}
}
@media (max-width:640px){
h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: .5em;
}
.progress {
	height: 10px;
	margin-bottom: 10px;
}
ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
	font-size: 14px;
}
.breadcrumb {
	margin-bottom: 25px;
}
.well {
	font-size: 14px;
	margin-bottom: 10px;
}
h2.typoh2 {
	font-size: 1.5em;
}
.label {
	font-size: 60%;
}
.in-gp-tl {
	padding: 0 1em;
}
.in-gp-tb {
	padding-right: 1em;
}
}
@media (max-width:480px){
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	font-size: 1.2em;
}
.table h1 {
	font-size: 26px;
}
.table h2 {
	font-size: 23px;
	}
.table h3 {
	font-size: 20px;
}
.label {
	font-size: 53%;
}
.alert,p {
	font-size: 14px;
}
.pagination {
	margin: 20px 0 0px;
}
.grid_3.grid_4.w3layouts {
	margin-top: 25px;
}
}
@media (max-width: 320px){
.grid_4 {
	margin-top: 18px;
}
h3.title {
	font-size: 1.6em;
}
.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
	font-size: 13px;
}
.alert {
	padding: 10px;
	margin-bottom: 10px;
}
ul.pagination li a {
	font-size: 14px;
	padding: 5px 11px;
}
.list-group {
	margin-bottom: 10px;
}
.well {
	padding: 10px;
}
.nav > li > a {
	font-size: 14px;
}
table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
}
}
/*-- //typography --*/
.typo {
    padding: 5em 0;
}
ul.bs-glyphicons-list {
    padding: 0;
} 
/*-- responsive-design --*/
@media(max-width:1440px){
figure.effect-chico h4 {
    margin: 0.3em 0;
    font-size: 2.2em; 
}
.w3ls-hover .view-caption {
    padding: 4.5em 0; 
} 
}
@media(max-width:1366px){
.w3ls-hover .view-caption {
    padding: 4em 0;
}
} 
@media(max-width:1080px){
figure.effect-chico figcaption {
    padding: 1.5em;
}
figure.effect-chico figcaption::before {
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px; 
}
figure.effect-chico h4 { 
    font-size: 1.8em;
}
figure.effect-chico.welcome-img2 {
    margin-top: 1.3em;
}
.banner-text h5 {
    width: 51%;
} 
.banner-text {
    padding: 12em 0;
}
}
@media(max-width:1024px){
.top-nav ul li {
    margin: 0 0 0 2.5em; 
}
}
@media(max-width:991px){
.top-nav ul li {
    margin: 0 0 0 2em;
}
figure.effect-chico.welcome-img2 {
    margin-top: 2.4em;
}
figure.effect-chico h4 {
    margin: 2.8em 0 .5em; 
}
.banner-text h2, .banner-text h3 {
    font-size: 2em;
}
.banner-text h5 {
    width: 75%;
}
.banner-text {
    padding: 10em 0;
}
.w3l-services-grid {
    margin-bottom: 1.5em;
}
.about-w3slid {
    padding: 5em 0;
}
.about-w3slid p {
    width: 100%;
}
.welcome {
    padding: 3em 0;
}
p.agile-p {
    width: 100%;
}
.services {
    padding: 3em 0;
}
.agile-welcome-right {
    padding: 2em 1em 0 1em;
}
.sub-agileinfo p {
    width: 100%;
}
.wthree-services-right {
    margin: 2em 0;
}
.services-bottom {
    padding: 3em 0;
}
.wthree-services-bottom-grids {
    margin-top: 3em;
}
.welcome-agileinfo {
    margin-top: 3em;
}
.w3-services-grids {
    margin-top: 3em;
}
.footer {
    padding: 3em 0;
}
.w3ls-banner-1 {
    min-height: 220px;
}
.team, .testimonials, .contact {
    padding: 3em 0;
}
.w3_agile_team_grid {
    float: left;
    width: 50%;
}
.skillbar {
    width: 95%;
}
.w3_wthree_agileits_icons.main-grid-border {
    padding: 3em 0;
}
.gallery {
    padding: 3em 0;
}
.gallery-grid {
    float: left;
    width: 50%;
}
.gallery-grids {
    margin-top: 3em;
}
.w3_agileits_mail_right_grid {
    margin: 5em 0 2em;
}
.typo {
    padding: 3em 0;
}
}
@media(max-width:800px){
figure.effect-chico h4 {
    margin: 1.8em 0 .5em;
}
figure.effect-chico.welcome-img2 {
    margin-top: 2em;
}
}
@media(max-width:767px){
.header-w3layoutstop .navbar-left {
    float: left;
}
.header-w3layoutstop .navbar-right { 
    float: right;
}
.navbar-header.w3llogo {
    margin: 0;
}
.w3llogo h1 { 
    display: inline-block;
}
button.navbar-toggle {
    border-color: #f44336;
    margin-right: 0;
}
span.icon-bar {
    background: #f44336;
} 
.top-nav ul li {
    margin: 1.2em 0;
    display: block;
}
div#bs-example-navbar-collapse-1 {
    position: absolute;
    width: 100%;
    background:#16214e;
    z-index: 999;
    margin: 0;
    left: 0;
	margin-top: 1em;
}
ul.nav.navbar {
    margin: 0;
    padding: 0 0 2em;
}
.top-nav {
    padding: 1em 0 1em;
}
.agileinfo_footer_grid.mid-w3l.nav2 {
    margin: 1.5em 0;
} 
ul.dropdown-menu.agile_short_dropdown {
    left: 0;
    width: 100%;
}  
.top-nav ul li a {
    color: #fff;
}
}
@media(max-width:736px){ 
figure.effect-chico h4 {
    margin: 1.4em 0 .5em;
}
}
@media(max-width:667px){
figure.effect-chico h4 {
    margin: 0.8em 0 .5em;
}
figure.effect-chico h4 {
    margin: 0.6em 0 .5em;
}
}
@media(max-width:640px){
.w3ls-hover .view-caption {
    padding: 4em 0;
}
.banner-text h2, .banner-text h3 {
    font-size: 1.7em;
    letter-spacing: 3px;
}
.banner-text h5 {
    font-size: 1.2em;
    letter-spacing: 2px;
    width: 77%;
    line-height: 26px;
}
.w3ls-banner-1 {
    min-height: 200px;
}
}
@media(max-width:600px){
	h3.agileits-title, h2.agileits-title {
    font-size: 3em;
}
.agileits_mail_grid_right1 span i {
    width: 100%;
}
.agileits_mail_grid_right1 input[type="submit"] {
    width: 57%;
}
.agileits_mail_grid_right1 input[type="text"], .agileits_mail_grid_right1 input[type="email"], .agileits_mail_grid_right1 textarea {
    width: 100%;
}
}
@media(max-width:568px){
figure.effect-chico h4 {
    margin: 0.6em 0 .3em;
}
.w3ls-hover .view-caption {
    padding: 3.5em 0;
}
.w3l-services-grid {
    text-align: center;
    margin-bottom: 1.5em;
    width: 100%;
}
.about-w3slid h3 {
    font-size: 2.5em;
}
}
@media(max-width:480px){ 
figure.effect-chico.welcome-img2 {
    margin-top: 1.1em;
}
figure.effect-chico figcaption {
    padding: 1em;
}
figure.effect-chico figcaption::before {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
}
.banner-text {
    padding: 7em 0 5em;
}
.welcome-w3imgs {
    width: 100%;
}
.w3ls-banner-1 {
    min-height: 180px;
}
}
@media(max-width:414px){
.w3llogo h1 { 
    font-size: 1.8em; 
}
figure.effect-chico h4 {
    font-size: 1.6em;
    letter-spacing: 0px;
}
figure.effect-chico h4 {
    margin: 0.2em 0 .2em;
}
.about-w3slid {
    padding: 3em 0;
}
.w3ls-banner-1 {
    min-height: 130px;
}
.w3ls_news_grids {
    margin-top: 3em;
}
.w3_agile_team_grid ul li {
    margin-right: 0.5em;
}
.gallery-grid {
    float: left;
    width: 100%;
}
.gallery {
    padding: 2em 0;
}
.agileits_mail_grid_right1 {
    padding: 2em;
}
}
@media(max-width:384px){
figure.effect-chico p { 
    font-size: .8em;
}
.top-nav ul li a { 
    font-size: 1em; 
}
.top-nav ul li {
    margin: 1em 0; 
}
.banner-text {
    padding: 6em 0 4em;
}
.sub-agileinfo form input.user {
    width: 100%;
    margin-right: 0em;
    margin-bottom: 1em;
}
}
@media(max-width:375px){
figure.effect-chico h4 {
    margin: 2.2em 0 .2em;
}
}
@media(max-width:320px){
.header-w3layoutstop p { 
    font-size: 0.9em; 
    letter-spacing: 0.5px;
}
.social-w3licon a {
    margin: 0 .3em;
    font-size: 0.9em;
}
.w3llogo h1 {
    font-size: 1.6em;
}
figure.effect-chico h4 {
    margin: 1.5em 0 .2em;
}
.w3ls-hover .view-caption {
    padding: 4.2em 0;
} 
.banner-text h2, .banner-text h3 {
    font-size: 1.5em;
    letter-spacing: 2px;
}
.banner-text {
    padding: 5em 0 3em;
}
.banner-text h5 {
    font-size: 1em;
    letter-spacing: 2px;
    width: 80%;
    line-height: 26px;
}
.services {
    padding: 2em 0;
}
.w3-services-grids {
    margin-top: 2em;
}
.about-w3slid h3 {
    font-size: 1.8em;
}
.about-w3slid {
    padding: 2em 0;
}
.welcome {
    padding: 2em 0;
}
.welcome-agileinfo {
    margin-top: 2em;
}
h3.agileits-title, h2.agileits-title {
    font-size: 2.5em;
}
.wthree-services-right {
    padding: 0;
}
.services-bottom-icon {
    width: 15%;
}
.wthree-services-bottom-grids {
    margin-top: 2em;
}
.agileinfo_footer_grid h3.agileits-title {
    font-size: 1.7em;
}
.agileinfo_footer_grid.mid-w3l.nav2 {
    padding: 0;
}
.agileinfo_footer_grid {
    padding: 0;
}
.w3agile_footer_copy p {
    letter-spacing: 1px;
}
.w3_wthree_agileits_icons.main-grid-border {
    padding: 2em 0;
}
.w3_agile_mail_left {
    padding: 0;
}
.w3ls-cont {
    margin-top: 3em;
}
.agileits_mail_grid_right1 {
    padding: 1em;
}
.typo {
    padding: 2em 0;
}
}
/*-- //responsive-design --*/